@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>注册 - Sammo's Blog</title>
    <meta name="keywords" content="Sammo's Blog">
    <meta name="description" content="Sammo's Blog">
    <link href="~/Static/Admin/Css/Shared/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Static/Admin/Css/Shared/font-awesome.css" rel="stylesheet" />
    <link href="~/Static/Shared/Plugins/ICheck/custom.css" rel="stylesheet" />
    <link href="~/Static/Admin/Css/Shared/animate.css" rel="stylesheet" />
    <link href="~/Static/Admin/Css/Shared/style.css" rel="stylesheet" />
    <link href="~/Static/Shared/Plugins/Toastr/toastr.min.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <h1 class="logo-name">Sammo</h1>
        </div>
        <h3>欢迎来到Sammo's Blog</h3>
        <p>创建一个新账户</p>
        <form id="registerForm" role="form" method="post">
            <div class="m-t">
                <div class="form-group">
                    <input type="text" id="userName" class="form-control" placeholder="请输入用户名" v-model="user.userName" name="userName" />
                </div>
                <div class="form-group">
                    <input type="text" id="email" class="form-control" placeholder="请输入邮箱" v-model="user.email" name="email" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="请输入密码" v-model="user.password" name="password" />
                </div>
                <div class="form-group">
                    <input type="password" id="comfirmPassword" class="form-control" placeholder="请再次输入密码" v-model="user.confirmPassword" name="confirmPassword" />
                </div>
                <button class="btn btn-primary block full-width m-b" v-on:click="register(registerModel)" type="submit">注 册</button>
                <p class="text-muted text-center">
                    <small>已经有账户了？</small><a href="/Admin/Account/Login">点此登录</a>
                </p>
            </div>
        </form>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Static/Admin/Js/Shared/jquery-2.1.1.min.js"></script>
    <script src="~/Static/Shared/Js/jquery.validate.min.js"></script>
    <script src="~/Static/Admin/Js/Shared/bootstrap.min.js"></script>
    <script src="~/Static/Shared/Js/Vue/vue.min.js"></script>
    <script src="~/Static/Shared/Js/Vue/vue-validator.min.js"></script>
    <script src="~/Static/Shared/Plugins/ICheck/icheck.min.js"></script>
    <script src="~/Static/Shared/Plugins/Toastr/toastr.min.js"></script>
    <script src="~/Static/Shared/Js/messages_zh.min.js"></script>
    <script src="~/Static/Admin/Js/Account/register.js"></script>
</body>
</html>